<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/nav.ejs")%>
    <div class="content blogs">
       <h1>ALL BLOGS</h1>
       <% blogs.forEach(blog => { %>
        <div class="blog-summary">
          <h2><a href="/blogs/<%= blog._id %>"><%= blog.title %></a></h2>
          <p><%= blog.snippet %></p>
        </div>
      <% }) %>
      



   
</body>
</html>
